button {
  width: 250px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 5px;
  color: #fff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

button:hover {
  background-color: #2669a0;
}

.click-btn {
  background-color: #FF9C40;
}

.restart-btn {
  background-color: #d36448;
}
